<h1>Hey <%= @name%>! Roll the dice</h1>
<p>
  <img src="/images/dice/<%= @die1 %>.svg">
  <img src="/images/dice/<%= @die2 %>.svg">
</p>
<p>
  The total is <%= @total %>
</p>
<p>
  <a href="/dice?name=<%= @name %>">Roll Again</a>
</p>